ClienteAdministracao/Service References/ServiceReferenceAcupuntura/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://acupunturawcf.apphb.com/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AcupunturaWebService" />
  <xs:import schemaLocation="http://acupunturawcf.apphb.com/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="logIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logInResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logOutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="isAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isLoggedIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isLoggedInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isLoggedInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUtilizadores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllUtilizadoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AcupunturaWebService" minOccurs="0" name="getAllUtilizadoresResult" nillable="true" type="q1:ArrayOfUtilizadorWEB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="writeToXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AcupunturaWebService" minOccurs="0" name="listaSintomas" nillable="true" type="q2:ArrayOfSintomaWEB" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AcupunturaWebService" minOccurs="0" name="listaDiagnosticos" nillable="true" type="q3:ArrayOfDiagnosticoWEB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="writeToXmlResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="adicionarPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bi" type="xs:int" />
        <xs:element minOccurs="0" name="dataNascimento" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="adicionarPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adicionarPacienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="adicionarTerapeuta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bi" type="xs:int" />
        <xs:element minOccurs="0" name="dataNascimento" type="xs:dateTime" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="adicionarTerapeutaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adicionarTerapeutaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="adicionarAdministrador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="adicionarAdministradorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adicionarAdministradorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPacientePorBi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bi" type="xs:int" />
        <xs:element minOccurs="0" name="idTerapeuta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPacientePorBiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AcupunturaWebService" minOccurs="0" name="getPacientePorBiResult" nillable="true" type="q4:PacienteWEB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTerapeutaPorBi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bi" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTerapeutaPorBiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AcupunturaWebService" minOccurs="0" name="getTerapeutaPorBiResult" nillable="true" type="q5:TerapeutaWEB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removerPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bi" type="xs:int" />
        <xs:element minOccurs="0" name="idTerapeuta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removerPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removerPacienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removerTerapeuta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bi" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removerTerapeutaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="removerTerapeutaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editarPaciente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idTerapeuta" type="xs:int" />
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bi" type="xs:int" />
        <xs:element minOccurs="0" name="dataNascimento" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editarPacienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editarPacienteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editarTerapeuta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bi" type="xs:int" />
        <xs:element minOccurs="0" name="dataNascimento" type="xs:dateTime" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editarTerapeutaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editarTerapeutaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListaSintomasXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListaSintomasXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AcupunturaWebService" minOccurs="0" name="getListaSintomasXmlResult" nillable="true" type="q6:ArrayOfSintomaWEB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDiagnosticosXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllDiagnosticosXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getAllDiagnosticosXmlResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTerapeutaID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTerapeutaIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AcupunturaWebService" minOccurs="0" name="getTerapeutaIDResult" nillable="true" type="q8:TerapeutaWEB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUtilizadorIdTerapeura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idTerapeuta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUtilizadorIdTerapeuraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AcupunturaWebService" minOccurs="0" name="getUtilizadorIdTerapeuraResult" nillable="true" type="q9:UtilizadorWEB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListaDiagnosticosXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AcupunturaWebService" minOccurs="0" name="listaSintomasWeb" nillable="true" type="q10:ArrayOfSintomaWEB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListaDiagnosticosXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getListaDiagnosticosXmlResult" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validaXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validaXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validaXmlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>