ClienteAdministracao/Service References/ServiceReferenceAcupuntura/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://acupunturawcf.apphb.com/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://acupunturawcf.apphb.com/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://acupunturawcf.apphb.com/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AcupunturaWebService" />
      <xsd:import schemaLocation="http://acupunturawcf.apphb.com/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_logIn_InputMessage">
    <wsdl:part name="parameters" element="tns:logIn" />
  </wsdl:message>
  <wsdl:message name="IService1_logIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:logInResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_logOut_InputMessage">
    <wsdl:part name="parameters" element="tns:logOut" />
  </wsdl:message>
  <wsdl:message name="IService1_logOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:logOutResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:isAdmin" />
  </wsdl:message>
  <wsdl:message name="IService1_isAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:isAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isLoggedIn_InputMessage">
    <wsdl:part name="parameters" element="tns:isLoggedIn" />
  </wsdl:message>
  <wsdl:message name="IService1_isLoggedIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:isLoggedInResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllUtilizadores_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllUtilizadores" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllUtilizadores_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllUtilizadoresResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_writeToXml_InputMessage">
    <wsdl:part name="parameters" element="tns:writeToXml" />
  </wsdl:message>
  <wsdl:message name="IService1_writeToXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:writeToXmlResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_adicionarPaciente_InputMessage">
    <wsdl:part name="parameters" element="tns:adicionarPaciente" />
  </wsdl:message>
  <wsdl:message name="IService1_adicionarPaciente_OutputMessage">
    <wsdl:part name="parameters" element="tns:adicionarPacienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getPacientePorBi_InputMessage">
    <wsdl:part name="parameters" element="tns:getPacientePorBi" />
  </wsdl:message>
  <wsdl:message name="IService1_getPacientePorBi_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPacientePorBiResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getListaSintomasXml_InputMessage">
    <wsdl:part name="parameters" element="tns:getListaSintomasXml" />
  </wsdl:message>
  <wsdl:message name="IService1_getListaSintomasXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListaSintomasXmlResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllDiagnosticosXml_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllDiagnosticosXml" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllDiagnosticosXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllDiagnosticosXmlResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getListaDiagnosticosXml_InputMessage">
    <wsdl:part name="parameters" element="tns:getListaDiagnosticosXml" />
  </wsdl:message>
  <wsdl:message name="IService1_getListaDiagnosticosXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:getListaDiagnosticosXmlResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_validaXml_InputMessage">
    <wsdl:part name="parameters" element="tns:validaXml" />
  </wsdl:message>
  <wsdl:message name="IService1_validaXml_OutputMessage">
    <wsdl:part name="parameters" element="tns:validaXmlResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="logIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/logIn" message="tns:IService1_logIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/logInResponse" message="tns:IService1_logIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/logOut" message="tns:IService1_logOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/logOutResponse" message="tns:IService1_logOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isAdmin" message="tns:IService1_isAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isAdminResponse" message="tns:IService1_isAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isLoggedIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isLoggedIn" message="tns:IService1_isLoggedIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isLoggedInResponse" message="tns:IService1_isLoggedIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllUtilizadores">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllUtilizadores" message="tns:IService1_getAllUtilizadores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllUtilizadoresResponse" message="tns:IService1_getAllUtilizadores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="writeToXml">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/writeToXml" message="tns:IService1_writeToXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/writeToXmlResponse" message="tns:IService1_writeToXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="adicionarPaciente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/adicionarPaciente" message="tns:IService1_adicionarPaciente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/adicionarPacienteResponse" message="tns:IService1_adicionarPaciente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPacientePorBi">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getPacientePorBi" message="tns:IService1_getPacientePorBi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getPacientePorBiResponse" message="tns:IService1_getPacientePorBi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListaSintomasXml">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getListaSintomasXml" message="tns:IService1_getListaSintomasXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getListaSintomasXmlResponse" message="tns:IService1_getListaSintomasXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllDiagnosticosXml">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllDiagnosticosXml" message="tns:IService1_getAllDiagnosticosXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllDiagnosticosXmlResponse" message="tns:IService1_getAllDiagnosticosXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getListaDiagnosticosXml">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getListaDiagnosticosXml" message="tns:IService1_getListaDiagnosticosXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getListaDiagnosticosXmlResponse" message="tns:IService1_getListaDiagnosticosXml_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="validaXml">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/validaXml" message="tns:IService1_validaXml_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/validaXmlResponse" message="tns:IService1_validaXml_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="logIn">
      <soap:operation soapAction="http://tempuri.org/IService1/logIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logOut">
      <soap:operation soapAction="http://tempuri.org/IService1/logOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isAdmin">
      <soap:operation soapAction="http://tempuri.org/IService1/isAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isLoggedIn">
      <soap:operation soapAction="http://tempuri.org/IService1/isLoggedIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUtilizadores">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllUtilizadores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="writeToXml">
      <soap:operation soapAction="http://tempuri.org/IService1/writeToXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="adicionarPaciente">
      <soap:operation soapAction="http://tempuri.org/IService1/adicionarPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPacientePorBi">
      <soap:operation soapAction="http://tempuri.org/IService1/getPacientePorBi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListaSintomasXml">
      <soap:operation soapAction="http://tempuri.org/IService1/getListaSintomasXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllDiagnosticosXml">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllDiagnosticosXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListaDiagnosticosXml">
      <soap:operation soapAction="http://tempuri.org/IService1/getListaDiagnosticosXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validaXml">
      <soap:operation soapAction="http://tempuri.org/IService1/validaXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://acupunturawcf.apphb.com/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>