ClienteAdministracao/Service References/ServiceReferenceAcupuntura/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AcupunturaWebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AcupunturaWebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUtilizadorWEB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UtilizadorWEB" nillable="true" type="tns:UtilizadorWEB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUtilizadorWEB" nillable="true" type="tns:ArrayOfUtilizadorWEB" />
  <xs:complexType name="UtilizadorWEB">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="isAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UtilizadorWEB" nillable="true" type="tns:UtilizadorWEB" />
</xs:schema>